/* 
$orange: #FB6D3A;
$dark-blue: #1E2939;
$white: #FFFFFF;
$light-grey: #A8A8A8;
$grey: #595959;
$black: #000000;

font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.margin-center {
    margin: auto;
    max-width: 1200px;
}

.head-background {
    background-color: #E5E5E5;
    width: 100vw;
    padding: 40px 0;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    background-color: #FFFFFF;
    box-shadow: 0 0 7px 2px #595959;
    box-sizing: border-box;
}

.left-column {
    width: 370px;
    background-color: #1E2939;
    height: 1000px;
}

.contacts {
    margin-top: 55px;
}

.tech-skills,
.soft-skills {
    margin-top: 45px;
}

.contacts,
.tech-skills,
.soft-skills {
    margin-left: 40px;
}

.ul-margin {
    margin-left: 18px;
}

.photo-candidate {
    width: 100%;
    margin-top: 40px;
}

.left-h2 {
    font-size: 1.375rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.ul-markers {
    color: #FB6D3A;
}

.ul-elements-and-contacts-info {
    color: #ffffff;
    font-size: 0.875rem;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.right-column {
    background-color: #ffffff;
    width: 830px;
    padding-right: 220px;
    box-sizing: border-box;
}

.name-and-first-information {
    margin-top: 100px;
}

.name-and-first-information,
.projects,
.work-experience,
.education {
    margin-left: 90px;
}

.name-candidate {
    font-size: 2.8125rem;
    color: #000000;
    font-weight: bold;
}

.date-and-place {
    display: flex;
    color: #A8A8A8;
    font-size: 0, 875rem;
}

.line {
    color: #000000;
}

.line,
.place {
    margin-left: 10px;
}

.speciality {
    font-size: 0.875rem;
    color: #000000;
    font-weight: bold;
}

.university {
    color: #FB6D3A;
    font-size: 1rem;
    font-weight: bold;
}

.duties>li,
.projects li {
    margin-left: 18px;
}

.brackets {
    color: #000000;
    font-weight: bold;
}

.link-project,
.technology {
    color: #A8A8A8;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
}

.underscore{
    color: #A8A8A8;
}


.speciality-work {
    display: flex;
    justify-content: start;
}

.specialiy-work-name {
    color: #000000;
}

.company-work {
    color: #FB6D3A;
    margin-left: 10px;
}

.specialiy-work-name,
.company-work {
    font-size: 1rem;
    font-weight: bold;
}